#find-appointment {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 1em;
  background: #fff;

  #logo {
    width: 100%;
    max-width: 500px;
  }

  #content {
    width: 100%;
    max-width: 600px;

    #go-back {
      background: #2400fd;
      color: #fff;
      font-weight: 700;
      padding: 0.25em 1em;
      font-size: 1rem;
      text-transform: uppercase;
      transition: 200ms;
    }

    #go-back:hover {
      background: #000;
    }

    form {
      margin-top: 1em;

      .input-field {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1em;
      }

      input[type="submit"] {
        cursor: pointer;
        background: #2400fd;
        border: none;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
        transition: 200ms;
      }

      input[type="submit"]:hover {
        background: #000;
      }

      input[type="submit"]:disabled {
        background: rgba(36, 0, 253, 40%);
      }

      input[type="submit"]:hover:disabled {
        background: rgba(36, 0, 253, 40%);
      }
    }

    #no-appointment {
      p {
        color: #e52321;
      }
    }

    .appointment-item {
      margin-top: 1em;
      border: 0.0625em solid #000;
      padding: 1em 2em;

      .header,
      .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .header {
        border-bottom: 0.125em solid #000;
        padding-bottom: 0.5em;
      }

      .content {
        margin: 1em 0;

        .info {
          display: grid;
          grid-template-columns: 1fr 1fr;
        }

        .group-size {
          margin-top: 0.5em;
        }
      }

      .footer {
        border-top: 0.0625em solid #000;
        padding-top: 0.5em;

        .status {
          color: #fff;
          font-size: 0.8rem;
          font-weight: 700;
          background: #000;
          padding: 0.25em 1.5em;
          border-radius: 1em;
        }

        .waiting {
          background: #c8c828;
        }

        .arrived {
          background: #28b43c;
        }

        .cancelled {
          background: #e52321;
        }

        .controls {
          display: flex;
          gap: 1em;

          button {
            cursor: pointer;
            background: #e52321;
            border: none;
            color: #fff;
            font-weight: 700;
            text-transform: uppercase;
            transition: 200ms;
            font-size: 1rem;
            padding: 0.25em 1em;
            width: 100%;
          }
        }
      }
    }
  }
}
