form {
  display: grid;
  gap: 1em;
}

#appointment-container {
  h1 {
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 1em;
  }

  #navigation-tab {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    width: 100%;

    button {
      cursor: pointer;
      border: none;
      background: #314a9a;
      padding: 0.5em 1em;
      color: #fff;
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: 700;
    }

    button:hover {
      background: #000;
    }
  }

  #display-container {
    margin-top: 1em;
  }
}
