#add-schedule {
  #add-schedule-form {
    #date-field {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1em;
    }

    #time-field {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1em;
    }

    #slots-field {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1em;
    }
  }
}
