#list-schedule {
  display: grid;
  gap: 1em;
  padding: 1em 0;

  #list-header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    font-weight: 700;
  }
}

@media (max-width: 480px) {
  #list-schedule {
    #list-header {
      display: none;
    }
  }
}
