#add-schedule {
  .hidden {
    visibility: hidden;
    height: 0;
  }

  #add-schedule-form {
    #time {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 1em;
    }
  }
}
